# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
venv/
.venv/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Data (большие файлы лучше не пушить, только архив)
data/*.html
yandex_ml_handbook_test/

